.profile-page-manage-accomodation {
	.profile-page-manage-accomodation-header {
		border-bottom: 1px solid lightgray;
		h3 {
			font-size: 1.5rem;
			margin-top: 10px;
			margin-bottom: 0px;
		}
		.section-describtion {
			font-size: 1rem;
			margin-top: 8px;
			color: #595959;
			margin-bottom: 10px;
		}
	}

	.profile-page-manage-accomodation-list {
		padding: 0px;
		margin: 0px;
	}
}
