@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.profile-page-manage-accomodation-item {
	animation: fadeIn 0.5s ease-out forwards;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid lightgray;
	list-style: none;
	// display: grid;
	// grid-template-columns: 1fr 4fr;
	padding: 10px 0px;
	margin-bottom: 20px;

	.profile-page-accomodation-name {
		margin: 8px;
		font-size: 1.1rem;
		margin-top: 13px;

		a {
			text-decoration: none;
			color: black;
			&:hover {
				color: #fc4545;
				text-decoration: underline;
			}
		}
	}

	.profile-page-manage-accomodation-content {
		position: relative;
		margin: 8px;
		margin-left: 20px;

		.profile-page-manage-accomodation {
			display: flex;
			flex-direction: column;
			gap: 20px;

			&-header {
				h4 {
					font-size: 1.2rem;
					margin: 10px 0 0 0;
				}

				.section-describtion {
					font-size: 0.9rem;
					color: #595959;
					margin: 8px 0;
				}
			}

			&-reservations-list {
				ul {
					padding: 0;
					margin: 0;
				}
			}
		}

		.profile-page-manage-accomodation-description {
			color: #595959;
			margin: 8px 0;
		}

		.manage-button {
			position: absolute;
			top: 0;
			right: 0;
			color: #fc4545;
			border: none;
			background-color: white;
			padding: 8px;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				background-color: #fcc2c2;
			}
		}
	}

	&:nth-child(n) {
		animation-delay: calc(n * 0.1s);
	}
	.profile-page-manage-accomodation-reservations-list {
		max-height: 500px;
		margin-top: 20px;
		overflow-y: auto;
	}
}
