.accomodation-layout {
	width: 70%;
	margin: auto;

	.accomodation-page {
		margin-top: 20px;
		h1 {
			font-size: 2.5rem;
			font-weight: normal;
			margin: 5px;
			margin-left: 25px;
		}

		.accomodation-page-images {
			// background-color: red;
			// border: 1px solid black;
			width: 100%;
			height: 550px;
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			gap: 10px;
			border-radius: 30px;
			overflow: hidden;

			.accomodation-page-main-image {
				grid-column: 1 / 2;
				grid-row: 1 / 3;
			}

			.image {
				overflow: hidden;
				background-color: lightblue;
			}
		}
		.accomodation-page-details {
			display: grid;
			grid-template-columns: 3fr 1fr;
			gap: 30px;
			margin-top: 30px;

			.accomodation-page-reservation {
				border: 1px solid lightgray;
				box-shadow: 0 0 10px 0 lightgray;
				border-radius: 10px;
				padding: 15px;
				height: fit-content;

				h3 {
					font-size: 1.5rem;
					font-weight: normal;
					margin: 0px;

					display: flex;
					gap: 10px;
					align-items: center;

					p {
						margin: 0px;
					}

					p:nth-child(1) {
						font-weight: bold;
						// font-size: ;
					}
					p:nth-child(2) {
						font-size: 1.2rem;
					}
				}

				form {
					margin-top: 20px;
					div {
						border: 1px solid lightgray;
						border-radius: 10px;
						display: grid;
						grid-template-columns: 1fr 1fr;
						overflow: hidden;

						input {
							border: none;
							padding: 5px;
							overflow: hidden;
							border-bottom: 1px solid lightgray;
							font-size: 1rem;
						}
						input:nth-child(1) {
							border-right: 1px solid lightgray;
						}
						label {
							padding: 5px;
							text-align: center;
						}
						select {
							background-color: white;
							border: none;
							border-left: 1px solid lightgray;
							text-align: center;
						}
					}

					button {
						width: 100%;
						margin-top: 10px;
						font-size: 1.2rem;
						border-radius: 10px;
						background-color: #fc4545;
						border: none;
						color: white;
					}
					button:hover {
						background-color: #fc1c1c;
					}
				}
				.accomodation-page-reservation-price {
					display: flex;
					justify-content: space-between;
				}
			}

			.accomodation-page-description {
				// border-top: 1px solid lightgray;
				margin-top: 0px;

				.accomodation-page-description-header {
					padding-bottom: 20px;
					border-bottom: 1px solid lightgray;
					.accomodation-page-describtion-name {
						border-top: 1px solid lightgray;
						margin: 0px;
						padding-top: 20px;
						font-size: 1.5rem;
						font-weight: normal;
					}
				}
				.accomodation-page-describtion-content {
					margin-top: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid lightgray;
				}
				.accomodation-page-description-describtion {
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid lightgray;
				}
			}
		}
	}
}
