.auth-page-layout {
	margin: auto;
	// background-color: rgb(255, 46, 46);
	border-radius: 30px;
	width: 40%;
	.auth-page-page {
		// height: 100px;
		margin-top: 100px;
		width: 100%;
		border: 1px solid lightgray;
		padding-bottom: 10px;
		border-radius: 15px;
		overflow: hidden;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		// height: 300px;

		.buttons {
			font-weight: 100;
			display: flex;
			justify-content: space-around;
			border: transparent;
			width: 100%;
			overflow: hidden;
			button {
				color: black;
				background-color: rgb(235, 235, 235);
				border: none;
				font-size: 1.4rem;
				cursor: pointer;
				width: 100%;
				font-weight: normal;
				margin-bottom: 15px;
				padding: 5px;
			}
			button:hover {
				background-color: rgb(211, 211, 211);
			}

			.active {
				// background-color: black;
				color: white;
				background-color: #fc4545;
			}
			.active:hover {
				background-color: #fc4545;
			}
		}
		.form {
			form {
				margin: 20px;
				border: 1px solid lightgray;
				display: flex;
				flex-direction: column;
				overflow: hidden;
				border-radius: 10px;

				input {
					padding: 10px;
					border: none;
					border-bottom: 1px solid lightgray;
				}
				input:focus {
					// border: 2px solid rgb(179, 179, 179);
					outline: none;
					overflow: hidden;
				}
				button {
					background-color: #fc4545;
					border: none;
					padding: 5px;
					font-size: 1.2rem;
					color: white;
				}
				button:hover {
					background-color: #fe2a2a;
				}
				select {
					padding: 10px;
					padding-right: 20px;
					border: none;
					border-bottom: 1px solid lightgray;
				}
			}
		}
	}
}
